/* Some font stuff, totally unrelated to the board itself. */
.fancy-text {
    font-size: 2em;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
}

/* Game Board */

#board {
    width: 360px;
    margin: 0 auto;
}

.row {
    clear: both;
    overflow: hidden;
}

.square {
    width: 120px;
    height: 120px;
    float: left;
}

/* End the game board */